@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #000000
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bg-coding {
  background: url('../public//image/coding.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.section-info-profile {
  background: #ffffff;
  height: 30vh;
  border-radius: 20px;
}

.info-wa {
  position: fixed;
  bottom: 40px;
  left: 20px;
}

.movivation-info {
  background: #ffffff;
  border-top-right-radius: 5px;
  height: 30vh;
}


.particle-section {
  position: "absolute";
  top: 200;
  left: 0;
  width: "100%";
  height: "100%";
  z-index: 1
}

.font-yusei {
  font-family: 'Yusei Magic', sans-serif;
}

.font-ibm {
  font-family: 'IBM Plex Serif', serif;
}


.font-eb {
  font-family: 'EB Garamond', serif;
}


.hello {
  height: 100%;
  width: 100%;
  background-color: black;
  vertical-align: middle;
  display: inline-block;
  color: white;
}

.parent {
  border: 1px solid red;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.skill-info  {
  height: 20vh;
}

@media only screen and (max-width: 1000px) {
  .nav-normal {
    transition: all 1.5s;
    position: absolute;
    top: 0px;
    margin-top: 41px;
    background: #012b46;
  }


  .nav-absol {
    position: absolute;
    top: -500px;
    transition: all 1.5s;
  }


}